# Exclude exported CurseForge zip files
./*.zip

# Exclude exported Modrinth modpacks
*.mrpack

# Exclude jetbrains IDE files
.idea

# Exclude Mac metadata files
.DS_Store

# Exclude Packwiz Binary
packwiz.exe

# mcman: Exclude mcman build outputs
**/server
# mcman: Exclude local dotenv files
**/.env