# Exclude exported CurseForge zip files
Steam n Rails Server Pack-*.zip

# Exclude exported Modrinth modpacks
Steam n Rails Server Pack-*.mrpack

# Exclude exported Packwiz Binary
packwiz.exe
.idea/