# Exclude exported CurseForge zip files
./*.zip

# Exclude exported Modrinth modpacks
*.mrpack

# Exclude jetbrains IDE files
.idea

# Exclude Mac metadata files
.DS_Store

# Exclude Packwiz Binary
packwiz.exe
packwiz

# Output dir
output/

# ProbeJS guts

kubejs/probe/*

# ProbeJS config

jsconfig.json
